*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{

    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.514);
}
.container{
    border: 5px solid red;
}
.headings{
    text-align: center;
    color: #fff;
    padding: 20px;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color:rgba(0, 0, 0, 0.514);
    .header-logo{
        color: #fff;
        text-transform: uppercase;
    }
    nav {
        ul{
            display: flex;
            column-gap: 10px;
            list-style: none;
            li{
                a{
                    text-decoration: none;
                    color: #fff;
                }
                
            }
        }
    }
}
.main{
    .main-article{
        img{
        float: left;
        width: 800px;
        height: 400px;
        margin-left: 10px;
    }
    p{
        color: #fff;
       
        }
    }
    section{
        .cards{
            display: flex;
            justify-content: space-between;

        }
    }
}
.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color:rgba(0, 0, 0, 0.514);
    .footer-logo{
        color: #fff;
        text-transform: uppercase;
    }
    nav {
        ul{
            display: flex;
            column-gap: 10px;
            list-style: none;
            li{
                a{
                    text-decoration: none;
                    color: #fff;
                }
                
            }
        }
    }
}